<template name="main">
  <div id="welcome" class="section">
    <h1>Jesus</h1>
    <h1 class="i">is</h1>
    <h1>{{jesus}}</h1>
    <h3 class="church">Peninsula Free Methodist Church</h3>
  </div>
  <div id="services" class="section">
    <h2>Services</h2>
    <div class="row">
      <div class="span4">
        <h3>Map and Address</h3>
        <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=659+Jefferson+Avenue,+Redwood+City,+CA&amp;aq=2&amp;oq=659+jefferson+&amp;sll=37.7577,-122.4376&amp;sspn=0.154174,0.088577&amp;ie=UTF8&amp;hq=&amp;hnear=659+Jefferson+Ave,+Redwood+City,+California+94063&amp;t=m&amp;z=14&amp;ll=37.487881,-122.22825&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=659+Jefferson+Avenue,+Redwood+City,+CA&amp;aq=2&amp;oq=659+jefferson+&amp;sll=37.7577,-122.4376&amp;sspn=0.154174,0.088577&amp;ie=UTF8&amp;hq=&amp;hnear=659+Jefferson+Ave,+Redwood+City,+California+94063&amp;t=m&amp;z=14&amp;ll=37.487881,-122.22825" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        <address>
          659 Jefferson Road<br>
          Redwood City, CA 94063<br>
        </address>
      </div>
      <div class="span4">
        <h3>Sunday Worship</h3>
        <p>
          We have Sunday morning services from <strong>9:15am - 10:30am</strong>.  Join us as we delve into God's Word and learn more about what it means to follow Jesus in this day and age.  Childcare and Sunday School for children are also provided during our Sunday Worship services.
        </p>
      </div>
      <div class="span4">
        <h3>Friday Youth Night</h3>
        <p>
          Friday evenings are great times for our Youth to spend time with one another learning about Jesus, worshiping together, and just having good ole fun.
        </p>
      </div>
    </div>
  </div>
  <div id="pastors" class="section">
    <h2>Pastors</h2>
    <div class="row">
      <div class="span4">

      </div>
      <div class="span6">
        <h3>Pastor Les Yee</h3>

      </div>
      <div class="span6">
        <h3>Pastor Dean Endo</h3>

      </div>
    </div>
  </div>
  <div id="sermons" class="section">
    <h2>Sermons</h2>
    <table class="table-hover">
      <tr>
        <th>
          Date
        </th>
        <th>
          Sermon
        </th>
      </tr>
      <tr>
        <td>
          1/29/13
        </td>
        <td>
          Getting a Right Start
        </td>
      </tr>
    </table>
  </div>
  <div id="about" class="section">
    <h2>About</h2>

  </div>
</template>